# Step Two: Data Wrangling

*Vet the dataset*

## Table Of Contents
* [Dataset Versions](#versions)
* [Dataset Questions](#questions)
* [Data Wrangling](#wrangling)
* [Save pandas dataframe to (local) mySQL database](#save)

## Load Data

In [57]:
import pandas as pd #working with dataframes
from sqlalchemy import create_engine

import numpy as nd

In [22]:
# Establish connection
engine = create_engine("mysql://root:PASSWORD@localhost/bordercrossings")
con = engine.connect()

# Create Dataframe from Query; see DataWrangling for details
border_df_000 = pd.read_sql('SELECT * FROM border_df_000', con=con)

# Close connections
con.close()

## <a name="versions"></a>Dataset Versions

**border_df_###**
* [000](#000) - loaded from MYSQL local database; removed first column; changed second column name
* [001](#001) - reduce column 'Length of stay' to a single class 'Length of stay, total'
* [002](#002) - remove columns with 1 or less unique elements/classes
* [003](#003) - remove 'Windsor Tunnel' as 75% of entries are NaN
* [004](#004) - remove DGUID column (NaNs); replace with Region column based on GEO
* [005](#005) - (004) reduce 'Mode.of.transportation' to a single class 'Total'; remove 'Total' from 'Trip characteristics'
    * Used for time series analysis
* [006](#006) - (004) Remove 'Total' class for 'Mode.of.transportation' and 'Trip.characteristics'
    * Is there a need to seperate vehicle types?
* [007](#007) - (004) Select 'Trucks' class from 2004 to 2018
    * Do 'Trucks' represent commercial traffic?

**border_ts_###**
* [000](#ts000) - see Code04_Py_PlotTimeSeries for details
* [001](#ts001) - (000) removed incomplete year 2019


## <a name="questions"></a>Dataset Questions

### What is the dataset shape?

In [4]:
border_df_000.head()

,row_names,ï..REF_DATE,GEO,DGUID,Trip.characteristics,Length.of.stay,Mode.of.transportation,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1,1972-01,Canada,2016A000011124,Total vehicles entering Canada,"Length of stay, total","Mode of transportation, total",Number,223,units,0,v129299,1.1.1.1,1427026.0,,None,None,0
1,2,1972-01,Canada,2016A000011124,Total United States vehicles entering,"Length of stay, total","Mode of transportation, total",Number,223,units,0,v129300,1.2.1.1,616944.0,,None,None,0
2,3,1972-01,Canada,2016A000011124,Total United States vehicles entering,"Length of stay, total",Automobiles,Number,223,units,0,v129301,1.2.1.2,557108.0,,None,None,0
3,4,1972-01,Canada,2016A000011124,Total United States vehicles entering,"Length of stay, total",Trucks,Number,223,units,0,v129305,1.2.1.3,59491.0,,None,None,0
4,5,1972-01,Canada,2016A000011124,Total United States vehicles entering,"Length of stay, total",Other vehicles,Number,223,units,0,v129306,1.2.1.4,345.0,,None,None,0

In [5]:
border_df_000.shape

(769590, 18)

### What are the number of NaNs for each column?

In [6]:
border_df_000.isna().sum()

row_names                      0
ï..REF_DATE                    0
GEO                            0
DGUID                          0
Trip.characteristics           0
Length.of.stay                 0
Mode.of.transportation         0
UOM                            0
UOM_ID                         0
SCALAR_FACTOR                  0
SCALAR_ID                      0
VECTOR                         0
COORDINATE                     0
VALUE                       3960
STATUS                         0
SYMBOL                    769590
TERMINATED                769590
DECIMALS                       0
dtype: int64

*Several features are almost completely NaNs. 0.5% of the target (i.e., 'Value') are NaNs*

### What are the number of unique elements for each column?

In [11]:
border_df_000.nunique()

ï..REF_DATE                 567
GEO                         142
DGUID                        11
Trip.characteristics          3
Length.of.stay                4
Mode.of.transportation        4
UOM                           1
UOM_ID                        1
SCALAR_FACTOR                 1
SCALAR_ID                     1
VECTOR                     2130
COORDINATE                 4260
VALUE                     78833
STATUS                        2
SYMBOL                        0
TERMINATED                    0
DECIMALS                      1
dtype: int64

*Any feature that has 1 or less unique elements can be removed, since there is no variance to explore*

## <a name="wrangling"></a> Data Wrangling

### <a name="000"></a>Remove 'row_names' column & Rename first column

In [23]:
# remove first column
border_df_000 = border_df_000.drop(['row_names'], axis = 1)

# change name of new first column
colnames = list(border_df_000.columns.values) # list of column names
colnames_tochange = colnames[0] # select name to change
border_df_000.rename(columns={colnames_tochange:'REF_DATE'}, inplace=True) # change name
border_df_000.head() # check

,REF_DATE,GEO,DGUID,Trip.characteristics,Length.of.stay,Mode.of.transportation,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1972-01,Canada,2016A000011124,Total vehicles entering Canada,"Length of stay, total","Mode of transportation, total",Number,223,units,0,v129299,1.1.1.1,1427026.0,,None,None,0
1,1972-01,Canada,2016A000011124,Total United States vehicles entering,"Length of stay, total","Mode of transportation, total",Number,223,units,0,v129300,1.2.1.1,616944.0,,None,None,0
2,1972-01,Canada,2016A000011124,Total United States vehicles entering,"Length of stay, total",Automobiles,Number,223,units,0,v129301,1.2.1.2,557108.0,,None,None,0
3,1972-01,Canada,2016A000011124,Total United States vehicles entering,"Length of stay, total",Trucks,Number,223,units,0,v129305,1.2.1.3,59491.0,,None,None,0
4,1972-01,Canada,2016A000011124,Total United States vehicles entering,"Length of stay, total",Other vehicles,Number,223,units,0,v129306,1.2.1.4,345.0,,None,None,0

### <a name="001"></a> Reduce the 'Length.of.Stay' to a single class 'Total'

What options exist for 'Length.of.stay'?

In [56]:
nd.unique(border_df_000['Length.of.stay'], return_counts = True)

(array(['Length of stay, total', 'One night', 'Same day',
        'Two or more nights'], dtype=object),
 array([461754, 102612, 102612, 102612], dtype=int64))

Duration of stay is deemed unimportant for this study.

In [24]:
# For this study we are not interested in the 'Length.of.stay'
border_df_001 = border_df_000[border_df_000['Length.of.stay'] == 'Length of stay, total']
print(border_df_000.shape)
print(border_df_001.shape)

(769590, 17)
(461754, 17)

*This reduced the number of rows by 40%*

### <a name="002"></a> Drop columns that have 1 or less unique elements

In [25]:
drop_nonunique = [] # create an empty list to put columns to be dropped in
column_unique = border_df_001.nunique() # shows the number of unique elements in each feature

for i in range(len(border_df_001.nunique())):
    if column_unique[i] <= 1: # if the number of unique elements in each feature is <= 1
        drop_nonunique.append(column_unique.index[i]) # add that column to the list

drop_nonunique

['Length.of.stay',
 'UOM',
 'UOM_ID',
 'SCALAR_FACTOR',
 'SCALAR_ID',
 'SYMBOL',
 'TERMINATED',
 'DECIMALS']

In [26]:
border_df_002 = border_df_001.drop(drop_nonunique, axis = 1)
print(border_df_000.shape)
print(border_df_002.shape)

(769590, 17)
(461754, 9)

*This reduced the number of columns by 53%*

### <a name="003"></a> Remove Border Crossing with NaNs for VALUE

In [27]:
# select only those entries with NaNs for VALUE
border_df_002_NaN = border_df_002[border_df_002['VALUE'].isna()]
print(border_df_002_NaN.shape)

# display unique values of GEO with NaNs for VALUE
border_df_002_NaN['GEO'].unique() # Windsor Tunnel, Ontario contains NaNs for VALUE

(2376, 9)

array(['Windsor Tunnel, Ontario'], dtype=object)

In [28]:
# Lets look at how many Windsor Tunnel entries there are
WindsorTunnel_000 = border_df_000[border_df_000['GEO'] == 'Windsor Tunnel, Ontario']
print(WindsorTunnel_000.shape)

# How many Windsor Tunnel entries are NaN
WindsorTunnel_000_NaN = WindsorTunnel_000[WindsorTunnel_000['VALUE'].isna()]
print(WindsorTunnel_000_NaN.shape)

(5265, 17)
(3960, 17)

*Roughly 75% of Windsor Tunnel entries are NaN. Closer inspection shows that it is likely that the Windsor Tunnel closed and this is the result of the NaNs.*

In [29]:
# Lets drop Windsor Tunnel from the dataset
border_df_003 = border_df_002[border_df_002['GEO'] != 'Windsor Tunnel, Ontario']

### <a name="004"></a> Create a Region Column Based on GEO. Remove DGUID

In [30]:
#Create a list of all border crossing sites
GEO_list = border_df_003['GEO'].unique().tolist()

#Create an empty dictionary to populate
Region_key = {}

# For each site listed in 'GEO' associate the province
# For cities, split on the comma and add the province
# For provinces, just duplicate the value
for i in GEO_list:
    comma_position = i.find(',')
    if comma_position != -1:
        region_split = i.split(',')
        region_value = region_split[1].strip()
    else:
        region_value = i
        
    Region_key[i] = region_value

# Drop DGUID column
border_df_004 = border_df_003.drop('DGUID', axis = 1)

# Add a column for Region
border_df_004['Region'] = border_df_004['GEO'].map(Region_key)
border_df_004.head()

,REF_DATE,GEO,Trip.characteristics,Mode.of.transportation,VECTOR,COORDINATE,VALUE,STATUS,Region
0,1972-01,Canada,Total vehicles entering Canada,"Mode of transportation, total",v129299,1.1.1.1,1427026.0,,Canada
1,1972-01,Canada,Total United States vehicles entering,"Mode of transportation, total",v129300,1.2.1.1,616944.0,,Canada
2,1972-01,Canada,Total United States vehicles entering,Automobiles,v129301,1.2.1.2,557108.0,,Canada
3,1972-01,Canada,Total United States vehicles entering,Trucks,v129305,1.2.1.3,59491.0,,Canada
4,1972-01,Canada,Total United States vehicles entering,Other vehicles,v129306,1.2.1.4,345.0,,Canada

### <a name="005"></a> Reduce 'Mode.of.transportation' and 'Trip.characteristics' to a single class 'Total'

In [31]:
# Reduce 'Mode.of.transportation' to a single class
border_df_005 = border_df_004[border_df_004['Mode.of.transportation'] == 'Mode of transportation, total']
border_df_005 = border_df_005.drop(['Mode.of.transportation'], axis = 1)

# Remove total for 'Trip.characteristics'
border_df_005 = border_df_005[border_df_005['Trip.characteristics'] != 'Total vehicles entering Canada']
print(border_df_000.shape)
print(border_df_005.shape)

(769590, 17)
(101910, 8)

### <a name="006"></a> Remove 'Total' class for 'Mode.of.transportation' and 'Trip.characteristics'

In [32]:
# Reduce 'Mode.of.transportation' to a single class
border_df_006 = border_df_004[border_df_004['Mode.of.transportation'] != 'Mode of transportation, total']

# Remove total for 'Trip.characteristics'
border_df_006 = border_df_006[border_df_006['Trip.characteristics'] != 'Total vehicles entering Canada']
print(border_df_000.shape)
print(border_df_006.shape)

(769590, 17)
(305730, 9)

### <a name="007"></a> Select 'Trucks', 'Total' by 'REF_DATE'

In [33]:
# Select only 'Trucks' class from 'Mode.of.transportation', and, 'Canada' class from 'GEO'
border_df_007 = border_df_004[(border_df_004['Mode.of.transportation'] == 'Trucks') & (border_df_004['GEO'] == 'Canada')]

# Split REF_DATE into 'Year' and 'Month'
border_df_007[['Year','Month']] = border_df_007['REF_DATE'].str.split('-',expand=True)

# Filter dataframe so only dates between 2004 and 2018
border_df_007 = border_df_007[(border_df_007['Year'] >= '2004') & (border_df_007['Year'] <= '2017')]
border_df_007.groupby(['Year'])['VALUE'].sum().values

C:\DataScience\lib\site-packages\pandas\core\frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

array([6724141., 6666355., 6467388., 6285421., 5771734., 4885733.,
       5258507., 5270026., 5389779., 5371491., 5359891., 5279674.,
       5449768., 5513243.])

### <a name="ts001"></a> Remove incomplete year 2019 (border_ts_001)

Bring in dataset to edit

In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
# Establish connection
engine = create_engine("mysql://root:PASSWORD@localhost/bordercrossings")
con = engine.connect()

# Create Dataframe from Query; see DataWrangling for details
border_ts_000 = pd.read_sql('SELECT * FROM border_ts_000', con=con)

# Close connections
con.close()

What period does the time series span?

In [7]:
print("\n----------- Minimum -----------\n")
print(border_ts_000.index.min())
 
print("\n----------- Maximum -----------\n")
print(border_ts_000.index.max())

----------- Minimum -----------

1972-01-01 00:00:00

----------- Maximum -----------

2019-03-01 00:00:00

Format dataset, remove year 2019 and check

In [4]:
border_ts_000['REF_DATE'] = pd.to_datetime(border_ts_000['REF_DATE'])
border_ts_000 = border_ts_000.set_index('REF_DATE')

border_ts_001 = border_ts_000.loc['1972':'2018']

border_ts_001.head()

            Americans  Canadians  Year  Month
REF_DATE
1972-01-01   616944.0   810082.0  1972      1
1972-02-01   620144.0   764783.0  1972      2
1972-03-01   727056.0   908528.0  1972      3
1972-04-01   834346.0  1023422.0  1972      4
1972-05-01  1110105.0  1095222.0  1972      5

Save table to local mySQL database

In [6]:
#Establish Connection
engine = create_engine("mysql://root:PASSWORD@localhost/bordercrossings")
con = engine.connect()

# Save dataframes to mySQL database
border_ts_001.to_sql(name='border_ts_001',con=con,if_exists='replace', index = True)

# CLose connection
con.close()

## <a name="save"></a>Save pandas dataframe to (local) mySQL database

Load Libraries

In [41]:
from sqlalchemy import create_engine
import pandas as pd

Export to mySQL

*Note: See Data Versions for number meanings.*

In [46]:
#Establish Connection
engine = create_engine("mysql://root:PASSWORD@localhost/bordercrossings")
con = engine.connect()

# Save dataframes to mySQL database
border_df_004.to_sql(name='border_df_004',con=con,if_exists='replace', index = False)
border_df_005.to_sql(name='border_df_005',con=con,if_exists='replace', index = False)
border_df_006.to_sql(name='border_df_006',con=con,if_exists='replace', index = False)
border_df_007.to_sql(name='border_df_007',con=con,if_exists='replace', index = False)

# CLose connection
con.close()