## Data Exploration

In [3]:
border_df_000.head()

,REF_DATE,GEO,DGUID,Trip characteristics,Length of stay,Mode of transportation,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1972-01,Canada,2016A000011124,Total vehicles entering Canada,"Length of stay, total","Mode of transportation, total",Number,223,units,0,v129299,1.1.1.1,1427026.0,NaN,NaN,NaN,0
1,1972-01,Canada,2016A000011124,Total United States vehicles entering,"Length of stay, total","Mode of transportation, total",Number,223,units,0,v129300,1.2.1.1,616944.0,NaN,NaN,NaN,0
2,1972-01,Canada,2016A000011124,Total United States vehicles entering,"Length of stay, total",Automobiles,Number,223,units,0,v129301,1.2.1.2,557108.0,NaN,NaN,NaN,0
3,1972-01,Canada,2016A000011124,Total United States vehicles entering,"Length of stay, total",Trucks,Number,223,units,0,v129305,1.2.1.3,59491.0,NaN,NaN,NaN,0
4,1972-01,Canada,2016A000011124,Total United States vehicles entering,"Length of stay, total",Other vehicles,Number,223,units,0,v129306,1.2.1.4,345.0,NaN,NaN,NaN,0

In [4]:
border_df_000.shape

(769590, 17)

### What are the number of NaNs for each column?

In [5]:
border_df_000.isna().sum()

REF_DATE                       0
GEO                            0
DGUID                     684540
Trip characteristics           0
Length of stay                 0
Mode of transportation         0
UOM                            0
UOM_ID                         0
SCALAR_FACTOR                  0
SCALAR_ID                      0
VECTOR                         0
COORDINATE                     0
VALUE                       3960
STATUS                    765630
SYMBOL                    769590
TERMINATED                769590
DECIMALS                       0
dtype: int64

*Several features are almost completely NaNs. 0.5% of the target (i.e., 'Value') are NaNs*

### What are the number of unique elements for each column?

In [6]:
border_df_000.nunique()

REF_DATE                    567
GEO                         142
DGUID                        10
Trip characteristics          3
Length of stay                4
Mode of transportation        4
UOM                           1
UOM_ID                        1
SCALAR_FACTOR                 1
SCALAR_ID                     1
VECTOR                     2130
COORDINATE                 4260
VALUE                     78833
STATUS                        1
SYMBOL                        0
TERMINATED                    0
DECIMALS                      1
dtype: int64

*Any feature that has 1 or less unique elements can be removed, since there is no variance to explore*