# Create A DataFrame by importing data from mySQL Database

Load Libraries

In [1]:
import pandas as pd
import mysql.connector

Read in **Table** (border_df_000) from MySQL **Database** (bordercrossings) and create a python **dataframe** (border_df_000)

In [2]:
# Define a connection
mySQLconnection = mysql.connector.connect(user='root', 
                                          database='bordercrossings', 
                                          password = 'password')

# Create Dataframe from Query
border_df_000 = pd.read_sql('SELECT * FROM border_df_000', con=mySQLconnection)

# Close connections
mySQLconnection.close()

Inspect the **dataframe** (df_000)

In [3]:
print(border_df_000.shape)
print(border_df_000.head())

(769590, 18)
  row_names Ã¯..REF_DATE     GEO           DGUID  \
0         1     1972-01  Canada  2016A000011124
1         2     1972-01  Canada  2016A000011124
2         3     1972-01  Canada  2016A000011124
3         4     1972-01  Canada  2016A000011124
4         5     1972-01  Canada  2016A000011124

                    Trip.characteristics         Length.of.stay  \
0         Total vehicles entering Canada  Length of stay, total
1  Total United States vehicles entering  Length of stay, total
2  Total United States vehicles entering  Length of stay, total
3  Total United States vehicles entering  Length of stay, total
4  Total United States vehicles entering  Length of stay, total

          Mode.of.transportation     UOM  UOM_ID SCALAR_FACTOR  SCALAR_ID  \
0  Mode of transportation, total  Number     223        units           0
1  Mode of transportation, total  Number     223        units           0
2                    Automobiles  Number     223        units           0
3                         Trucks  Number     223        units           0
4                 Other vehicles  Number     223        units           0

    VECTOR COORDINATE      VALUE STATUS SYMBOL TERMINATED  DECIMALS
0  v129299    1.1.1.1  1427026.0          None       None         0
1  v129300    1.2.1.1   616944.0          None       None         0
2  v129301    1.2.1.2   557108.0          None       None         0
3  v129305    1.2.1.3    59491.0          None       None         0
4  v129306    1.2.1.4      345.0          None       None         0